VITE_SANITY_PROJECT_ID=xe1685rk
VITE_SANITY_DATASET=production
VITE_SANITY_API_VERSION=2024-01-01
VITE_USE_SANITY=true
VITE_SANITY_TOKEN=skp8QkqBhqF4klXaJ6m1Xr7ij8nOShodYUqkyS7Rf8XjKbcuUTfJ1WMc17cKGxzONK2h8JdIhTfo8XEfBvGbvhMDQMCOZSsDwbfd4EB3604ERK3PNZ1ndKE3tKJX5X3yRBo217jiLNQj3ZHHGVo9ynrVbR0Jq9GsmLM4tAmSZX2R4yO4DYEU
SANITY_API_TOKEN=skp8QkqBhqF4klXaJ6m1Xr7ij8nOShodYUqkyS7Rf8XjKbcuUTfJ1WMc17cKGxzONK2h8JdIhTfo8XEfBvGbvhMDQMCOZSsDwbfd4EB3604ERK3PNZ1ndKE3tKJX5X3yRBo217jiLNQj3ZHHGVo9ynrVbR0Jq9GsmLM4tAmSZX2R4yO4DYEU
SANITY_PROJECT_ID=xe1685rk
LEAD_WEBHOOK_URL=https://hooks.zapier.com/hooks/catch/26930498/uplr0kc/
LEAD_WEBHOOK_SECRET=optional-shared-secret
VITE_LEAD_WEBHOOK_URL=https://hooks.zapier.com/hooks/catch/26930498/uplr0kc/